BOOTSTRAP_SERVERS=localhost:9094
GROUP_ID=axa
GROUP_INSTANCE_ID=axa-1

TRIGGER_CODE_CHECK_NEW_TOPICS=check-new-topics
TRIGGER_CODE_LIST_TOPICS=list-topics
TRIGGER_CODE_CLOSE=close
TRIGGER_CODE_FLUSH=flush